In [24]:
import importlib
from ml_ev1.pipelines.data_cleaning import nodes

# Recargar el módulo después de cambios
importlib.reload(nodes)

<module 'ml_ev1.pipelines.data_cleaning.nodes' from 'C:\\Users\\marce\\Desktop\\ml\\ml-ev1\\src\\ml_ev1\\pipelines\\data_cleaning\\nodes.py'>

In [19]:
import pandas as pd
from pathlib import Path

# Define la carpeta donde están tus CSVs
data_path = Path("C:/Users/marce/Desktop/ml/ml-ev1/data/01_raw")

# Carga directamente los archivos que ya sabes que existen
df_cardio = pd.read_csv(data_path / "cardio_data_processed.csv")
df_heart = pd.read_csv(data_path / "heart_2020_cleaned.csv")
df_lifestyle = pd.read_csv(data_path / "smoking_driking_dataset_Ver01.csv")

# Verifica que cargó todo bien
print(df_cardio.head())
print(df_heart.head())
print(df_lifestyle.head())

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
0   0  18393       2     168    62.0    110     80            1     1      0
1   1  20228       1     156    85.0    140     90            3     1      0
2   2  18857       1     165    64.0    130     70            3     1      0
3   3  17623       2     169    82.0    150    100            1     1      0
4   4  17474       1     156    56.0    100     60            1     1      0

   alco  active  cardio  age_years        bmi           bp_category  \
0     0       1       0         50  21.967120  Hypertension Stage 1
1     0       1       1         55  34.927679  Hypertension Stage 2
2     0       0       1         51  23.507805  Hypertension Stage 1
3     0       1       1         48  28.710479  Hypertension Stage 2
4     0       0       0         47  23.011177                Normal

    bp_category_encoded
0  Hypertension Stage 1
1  Hypertension Stage 2
2  Hypertension Stage 1
3  Hypertension Stage 2
4                Normal
  HeartDisease    BMI Smoking AlcoholDrinking Stroke  PhysicalHealth  \
0           No  16.60     Yes              No     No             3.0
1           No  20.34      No              No    Yes             0.0
2           No  26.58     Yes              No     No            20.0
3           No  24.21      No              No     No             0.0
4           No  23.71      No              No     No            28.0

   MentalHealth DiffWalking     Sex  AgeCategory   Race Diabetic  \
0          30.0          No  Female        55-59  White      Yes
1           0.0          No  Female  80 or older  White       No
2          30.0          No    Male        65-69  White      Yes
3           0.0          No  Female        75-79  White       No
4           0.0         Yes  Female        40-44  White       No

  PhysicalActivity  GenHealth  SleepTime Asthma KidneyDisease SkinCancer
0              Yes  Very good        5.0    Yes            No        Yes
1              Yes  Very good        7.0     No            No         No
2              Yes       Fair        8.0    Yes            No         No
3               No       Good        6.0     No            No        Yes
4              Yes  Very good        8.0     No            No         No
    sex  age  height  weight  waistline  sight_left  sight_right  hear_left  \
0  Male   35     170      75       90.0         1.0          1.0        1.0
1  Male   30     180      80       89.0         0.9          1.2        1.0
2  Male   40     165      75       91.0         1.2          1.5        1.0
3  Male   50     175      80       91.0         1.5          1.2        1.0
4  Male   50     165      60       80.0         1.0          1.2        1.0

   hear_right    SBP  ...  LDL_chole  triglyceride  hemoglobin  urine_protein  \
0         1.0  120.0  ...      126.0          92.0        17.1            1.0
1         1.0  130.0  ...      148.0         121.0        15.8            1.0
2         1.0  120.0  ...       74.0         104.0        15.8            1.0
3         1.0  145.0  ...      104.0         106.0        17.6            1.0
4         1.0  138.0  ...      117.0         104.0        13.8            1.0

   serum_creatinine  SGOT_AST  SGOT_ALT  gamma_GTP  SMK_stat_type_cd  DRK_YN
0               1.0      21.0      35.0       40.0               1.0       Y
1               0.9      20.0      36.0       27.0               3.0       N
2               0.9      47.0      32.0       68.0               1.0       N
3               1.1      29.0      34.0       18.0               1.0       N
4               0.8      19.0      12.0       25.0               1.0       N

[5 rows x 24 columns]

In [16]:
# Ver info general de cada dataset
print(df_cardio.info())
print(df_heart.info())
print(df_lifestyle.info())

# Ver estadísticas básicas
print(df_cardio.describe())
print(df_heart.describe())
print(df_lifestyle.describe())

# Filtrar solo adultos mayores de 50 en cardio
df_cardio_over50 = df_cardio[df_cardio['age_years'] > 50]
print(df_cardio_over50.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68205 entries, 0 to 68204
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   68205 non-null  int64
 1   age                  68205 non-null  int64
 2   gender               68205 non-null  int64
 3   height               68205 non-null  int64
 4   weight               68205 non-null  float64
 5   ap_hi                68205 non-null  int64
 6   ap_lo                68205 non-null  int64
 7   cholesterol          68205 non-null  int64
 8   gluc                 68205 non-null  int64
 9   smoke                68205 non-null  int64
 10  alco                 68205 non-null  int64
 11  active               68205 non-null  int64
 12  cardio               68205 non-null  int64
 13  age_years            68205 non-null  int64
 14  bmi                  68205 non-null  float64
 15  bp_category          68205 non-null  object
 16  bp_category_encoded  68205 non-null  object
dtypes: float64(2), int64(13), object(2)
memory usage: 8.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991346 entries, 0 to 991345
Data columns (total 24 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   sex               991346 non-null  object
 1   age               991346 non-null  int64
 2   height            991346 non-null  int64
 3   weight            991346 non-null  int64
 4   waistline         991346 non-null  float64
 5   sight_left        991346 non-null  float64
 6   sight_right       991346 non-null  float64
 7   hear_left         991346 non-null  float64
 8   hear_right        991346 non-null  float64
 9   SBP               991346 non-null  float64
 10  DBP               991346 non-null  float64
 11  BLDS              991346 non-null  float64
 12  tot_chole         991346 non-null  float64
 13  HDL_chole         991346 non-null  float64
 14  LDL_chole         991346 non-null  float64
 15  triglyceride      991346 non-null  float64
 16  hemoglobin        991346 non-null  float64
 17  urine_protein     991346 non-null  float64
 18  serum_creatinine  991346 non-null  float64
 19  SGOT_AST          991346 non-null  float64
 20  SGOT_ALT          991346 non-null  float64
 21  gamma_GTP         991346 non-null  float64
 22  SMK_stat_type_cd  991346 non-null  float64
 23  DRK_YN            991346 non-null  object
dtypes: float64(19), int64(3), object(2)
memory usage: 181.5+ MB
None
                 id           age        gender        height        weight  \
count  68205.000000  68205.000000  68205.000000  68205.000000  68205.000000
mean   49972.410498  19462.667737      1.348625    164.372861     74.100688
std    28852.138290   2468.381854      0.476539      8.176756     14.288862
min        0.000000  10798.000000      1.000000     55.000000     11.000000
25%    24991.000000  17656.000000      1.000000    159.000000     65.000000
50%    50008.000000  19700.000000      1.000000    165.000000     72.000000
75%    74878.000000  21323.000000      2.000000    170.000000     82.000000
max    99999.000000  23713.000000      2.000000    250.000000    200.000000

              ap_hi         ap_lo   cholesterol          gluc         smoke  \
count  68205.000000  68205.000000  68205.000000  68205.000000  68205.000000
mean     126.434924     81.263925      1.363243      1.225174      0.087662
std       15.961685      9.143985      0.678080      0.571288      0.282805
min       90.000000     60.000000      1.000000      1.000000      0.000000
25%      120.000000     80.000000      1.000000      1.000000      0.000000
50%      120.000000     80.000000      1.000000      1.000000      0.000000
75%      140.000000     90.000000      1.000000      1.000000      0.000000
max      180.000000    120.000000      3.000000      3.000000      1.000000

               alco        active        cardio     age_years           bmi
count  68205.000000  68205.000000  68205.000000  68205.000000  68205.000000
mean       0.053134      0.803548      0.493688     52.823635     27.510513
std        0.224302      0.397317      0.499964      6.769909      6.026497
min        0.000000      0.000000      0.000000     29.000000      3.471784
25%        0.000000      1.000000      0.000000     48.000000     23.875115
50%        0.000000      1.000000      0.000000     53.000000     26.346494
75%        0.000000      1.000000      1.000000     58.000000     30.116213
max        1.000000      1.000000      1.000000     64.000000    298.666667
                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  319795.000000    319795.00000  319795.000000  319795.000000
mean       28.325399         3.37171       3.898366       7.097075
std         6.356100         7.95085       7.955235       1.436007
min        12.020000         0.00000       0.000000       1.000000
25%        24.030000         0.00000       0.000000       6.000000
50%        27.340000         0.00000       0.000000       7.000000
75%        31.420000         2.00000       3.000000       8.000000
max        94.850000        30.00000      30.000000      24.000000
                 age         height         weight      waistline  \
count  991346.000000  991346.000000  991346.000000  991346.000000
mean       47.614491     162.240625      63.284050      81.233358
std        14.181339       9.282957      12.514241      11.850323
min        20.000000     130.000000      25.000000       8.000000
25%        35.000000     155.000000      55.000000      74.100000
50%        45.000000     160.000000      60.000000      81.000000
75%        60.000000     170.000000      70.000000      87.800000
max        85.000000     190.000000     140.000000     999.000000

          sight_left    sight_right      hear_left     hear_right  \
count  991346.000000  991346.000000  991346.000000  991346.000000
mean        0.980834       0.978429       1.031495       1.030476
std         0.605949       0.604774       0.174650       0.171892
min         0.100000       0.100000       1.000000       1.000000
25%         0.700000       0.700000       1.000000       1.000000
50%         1.000000       1.000000       1.000000       1.000000
75%         1.200000       1.200000       1.000000       1.000000
max         9.900000       9.900000       2.000000       2.000000

                 SBP            DBP  ...      HDL_chole      LDL_chole  \
count  991346.000000  991346.000000  ...  991346.000000  991346.000000
mean      122.432498      76.052627  ...      56.936800     113.037692
std        14.543148       9.889365  ...      17.238479      35.842812
min        67.000000      32.000000  ...       1.000000       1.000000
25%       112.000000      70.000000  ...      46.000000      89.000000
50%       120.000000      76.000000  ...      55.000000     111.000000
75%       131.000000      82.000000  ...      66.000000     135.000000
max       273.000000     185.000000  ...    8110.000000    5119.000000

        triglyceride     hemoglobin  urine_protein  serum_creatinine  \
count  991346.000000  991346.000000  991346.000000     991346.000000
mean      132.141751      14.229824       1.094224          0.860467
std       102.196985       1.584929       0.437724          0.480530
min         1.000000       1.000000       1.000000          0.100000
25%        73.000000      13.200000       1.000000          0.700000
50%       106.000000      14.300000       1.000000          0.800000
75%       159.000000      15.400000       1.000000          1.000000
max      9490.000000      25.000000       6.000000         98.000000

            SGOT_AST       SGOT_ALT      gamma_GTP  SMK_stat_type_cd
count  991346.000000  991346.000000  991346.000000     991346.000000
mean       25.989308      25.755051      37.136347          1.608122
std        23.493386      26.308599      50.424153          0.818507
min         1.000000       1.000000       1.000000          1.000000
25%        19.000000      15.000000      16.000000          1.000000
50%        23.000000      20.000000      23.000000          1.000000
75%        28.000000      29.000000      39.000000          2.000000
max      9999.000000    7210.000000     999.000000          3.000000

[8 rows x 22 columns]
   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
1   1  20228       1     156    85.0    140     90            3     1      0
2   2  18857       1     165    64.0    130     70            3     1      0
5   8  21914       1     151    67.0    120     80            2     2      0
6   9  22113       1     157    93.0    130     80            3     1      0
7  12  22584       2     178    95.0    130     90            3     3      0

   alco  active  cardio  age_years        bmi           bp_category  \
1     0       1       1         55  34.927679  Hypertension Stage 2
2     0       0       1         51  23.507805  Hypertension Stage 1
5     0       0       0         60  29.384676  Hypertension Stage 1
6     0       1       0         60  37.729725  Hypertension Stage 1
7     0       1       1         61  29.983588  Hypertension Stage 1

    bp_category_encoded
1  Hypertension Stage 2
2  Hypertension Stage 1
5  Hypertension Stage 1
6  Hypertension Stage 1
7  Hypertension Stage 1

In [21]:
import pandas as pd

# 🔹 CARGAR DATASETS LIMPIOS DESDE ARCHIVOS CSV
cardio_clean_path = "data/02_intermediate/cardio_data_processed_clean.csv"
lifestyle_clean_path = "data/02_intermediate/smoking_drinking_clean.csv"
heart_clean_path = "data/02_intermediate/heart_2020_cleaned_clean.csv"

cardio_clean = pd.read_csv(cardio_clean_path)
lifestyle_clean = pd.read_csv(lifestyle_clean_path)
heart_clean = pd.read_csv(heart_clean_path)

# 🔹 CREAR RESÚMENES SIMILARES A LO QUE HACÍA EL PIPELINE
cardio_summary = pd.DataFrame({
    "dataset": ["cardio"],
    "filas_originales": [len(pd.read_csv("data/01_raw/cardio_data_processed.csv"))],
    "duplicados_eliminados": [len(pd.read_csv("data/01_raw/cardio_data_processed.csv")) - len(cardio_clean)],
    "nulos_totales": [cardio_clean.isnull().sum().sum()]
})

lifestyle_summary = pd.DataFrame({
    "dataset": ["lifestyle"],
    "filas_originales": [len(pd.read_csv("data/01_raw/smoking_driking_dataset_Ver01.csv"))],
    "duplicados_eliminados": [len(pd.read_csv("data/01_raw/smoking_driking_dataset_Ver01.csv")) - len(lifestyle_clean)],
    "nulos_totales": [lifestyle_clean.isnull().sum().sum()]
})

heart_summary = pd.DataFrame({
    "dataset": ["heart_data"],
    "filas_originales": [len(pd.read_csv("data/01_raw/heart_2020_cleaned.csv"))],
    "duplicados_eliminados": [len(pd.read_csv("data/01_raw/heart_2020_cleaned.csv")) - len(heart_clean)],
    "nulos_totales": [heart_clean.isnull().sum().sum()]
})

# 🔹 INSPECCIÓN DE DATOS
print("==== CARDIO CLEAN ====")
display(cardio_clean.head())
print("==== CARDIO SUMMARY ====")
display(cardio_summary)

print("==== LIFESTYLE CLEAN ====")
display(lifestyle_clean.head())
print("==== LIFESTYLE SUMMARY ====")
display(lifestyle_summary)

print("==== HEART CLEAN ====")
display(heart_clean.head())
print("==== HEART SUMMARY ====")
display(heart_summary)

# 🔹 ESTADÍSTICAS Y DETECCIÓN DE OUTLIERS DE BMI
print("==== Estadísticas de BMI en Cardio ====")
display(cardio_clean["bmi"].describe())

Q1 = cardio_clean["bmi"].quantile(0.25)
Q3 = cardio_clean["bmi"].quantile(0.75)
IQR = Q3 - Q1
lower = Q1 - 1.5*IQR
upper = Q3 + 1.5*IQR

outliers = cardio_clean[(cardio_clean["bmi"] < lower) | (cardio_clean["bmi"] > upper)]
print(f"Cantidad de outliers de BMI detectados: {outliers.shape[0]}")
display(outliers.head())

==== CARDIO CLEAN ====

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category,bp_category_encoded
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,Hypertension Stage 1,Hypertension Stage 1
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,Hypertension Stage 2,Hypertension Stage 2
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51,23.507805,Hypertension Stage 1,Hypertension Stage 1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,Hypertension Stage 2,Hypertension Stage 2
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47,23.011177,Normal,Normal

==== CARDIO SUMMARY ====

  dataset  filas_originales  duplicados_eliminados  nulos_totales
0  cardio             68205                     24              0

==== LIFESTYLE CLEAN ====

,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,80.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,82.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,70.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,87.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,82.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

==== LIFESTYLE SUMMARY ====

     dataset  filas_originales  duplicados_eliminados  nulos_totales
0  lifestyle            991346                     26              0

==== HEART CLEAN ====

,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

==== HEART SUMMARY ====

      dataset  filas_originales  duplicados_eliminados  nulos_totales
0  heart_data            319795                  19214              0

==== Estadísticas de BMI en Cardio ====

count    68181.000000
mean        27.511623
std          6.027207
min          3.471784
25%         23.875115
50%         26.346494
75%         30.116213
max        298.666667
Name: bmi, dtype: float64

Cantidad de outliers de BMI detectados: 1988

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category,bp_category_encoded
30,18291,1,155,105.0,120,80,3,1,0,0,1,1,50,43.704475,Hypertension Stage 1,Hypertension Stage 1
46,18207,1,162,107.0,150,90,2,1,0,0,1,1,49,40.771224,Hypertension Stage 2,Hypertension Stage 2
83,19570,1,152,110.0,160,90,1,1,0,0,1,1,53,47.610803,Hypertension Stage 2,Hypertension Stage 2
88,23204,1,151,92.0,130,90,1,1,0,0,0,1,63,40.349107,Hypertension Stage 1,Hypertension Stage 1
210,22570,1,162,105.0,140,90,3,1,0,0,0,1,61,40.009145,Hypertension Stage 2,Hypertension Stage 2

In [22]:
# 🔹 IMPORTS
import pandas as pd

# 🔹 CARGAR DATASETS LIMPIOS DESDE CSVs (generados por el pipeline)
cardio_clean = pd.read_csv("data/02_intermediate/cardio_data_processed_clean.csv")
lifestyle_clean = pd.read_csv("data/02_intermediate/smoking_drinking_clean.csv")
heart_clean = pd.read_csv("data/02_intermediate/heart_2020_cleaned_clean.csv")

# 🔹 RESÚMENES DE LIMPIEZA
def resumen_limpieza(df, nombre):
    filas_originales = len(df) + df.duplicated().sum()  # estimación aproximada
    duplicados_eliminados = df.duplicated().sum()
    nulos_totales = df.isnull().sum().sum()
    resumen = pd.DataFrame({
        "dataset": [nombre],
        "filas_originales": [filas_originales],
        "duplicados_eliminados": [duplicados_eliminados],
        "nulos_totales": [nulos_totales]
    })
    return resumen

print("==== CARDIO SUMMARY ====")
print(resumen_limpieza(cardio_clean, "cardio"))

print("\n==== LIFESTYLE SUMMARY ====")
print(resumen_limpieza(lifestyle_clean, "lifestyle"))

print("\n==== HEART SUMMARY ====")
print(resumen_limpieza(heart_clean, "heart_data"))

# 🔹 ESTADÍSTICAS DE BMI EN CARDIO
print("\n==== Estadísticas de BMI en Cardio ====")
print(cardio_clean["bmi"].describe())

# 🔹 DETECCIÓN DE OUTLIERS DE BMI
Q1 = cardio_clean["bmi"].quantile(0.25)
Q3 = cardio_clean["bmi"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers_mask = (cardio_clean["bmi"] < lower_bound) | (cardio_clean["bmi"] > upper_bound)
outliers = cardio_clean[outliers_mask]

print(f"Cantidad de outliers de BMI detectados: {len(outliers)}")
if len(outliers) > 0:
    print("\nPrimeros outliers de BMI detectados:")
    display(outliers.head())

==== CARDIO SUMMARY ====
  dataset  filas_originales  duplicados_eliminados  nulos_totales
0  cardio             68181                      0              0

==== LIFESTYLE SUMMARY ====
     dataset  filas_originales  duplicados_eliminados  nulos_totales
0  lifestyle            991320                      0              0

==== HEART SUMMARY ====
      dataset  filas_originales  duplicados_eliminados  nulos_totales
0  heart_data            300581                      0              0

==== Estadísticas de BMI en Cardio ====
count    68181.000000
mean        27.511623
std          6.027207
min          3.471784
25%         23.875115
50%         26.346494
75%         30.116213
max        298.666667
Name: bmi, dtype: float64
Cantidad de outliers de BMI detectados: 1988

Primeros outliers de BMI detectados:

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category,bp_category_encoded
30,18291,1,155,105.0,120,80,3,1,0,0,1,1,50,43.704475,Hypertension Stage 1,Hypertension Stage 1
46,18207,1,162,107.0,150,90,2,1,0,0,1,1,49,40.771224,Hypertension Stage 2,Hypertension Stage 2
83,19570,1,152,110.0,160,90,1,1,0,0,1,1,53,47.610803,Hypertension Stage 2,Hypertension Stage 2
88,23204,1,151,92.0,130,90,1,1,0,0,0,1,63,40.349107,Hypertension Stage 1,Hypertension Stage 1
210,22570,1,162,105.0,140,90,3,1,0,0,0,1,61,40.009145,Hypertension Stage 2,Hypertension Stage 2

In [25]:
import pandas as pd

# 🔹 Cargar dataset limpio
df = pd.read_csv("data/02_intermediate/cardio_data_processed_clean.csv")

# 🔹 Crear bmi2 recalculado a partir de peso y altura
df["bmi2"] = df["weight"] / ((df["height"]/100) ** 2)

# 🔹 Ver estadísticas
print("==== Estadísticas de BMI2 en Cardio ====\n")
print(df["bmi2"].describe())

# 🔹 Detectar outliers usando IQR
Q1 = df["bmi2"].quantile(0.25)
Q3 = df["bmi2"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df["bmi2"] < lower_bound) | (df["bmi2"] > upper_bound)]

print(f"\nCantidad de outliers de BMI2 detectados: {outliers.shape[0]}")
print("\nPrimeros outliers de BMI2 detectados:")
display(outliers.head())

==== Estadísticas de BMI2 en Cardio ====

count    68181.000000
mean        27.511623
std          6.027207
min          3.471784
25%         23.875115
50%         26.346494
75%         30.116213
max        298.666667
Name: bmi2, dtype: float64

Cantidad de outliers de BMI2 detectados: 1988

Primeros outliers de BMI2 detectados:

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category,bp_category_encoded,bmi2
30,18291,1,155,105.0,120,80,3,1,0,0,1,1,50,43.704475,Hypertension Stage 1,Hypertension Stage 1,43.704475
46,18207,1,162,107.0,150,90,2,1,0,0,1,1,49,40.771224,Hypertension Stage 2,Hypertension Stage 2,40.771224
83,19570,1,152,110.0,160,90,1,1,0,0,1,1,53,47.610803,Hypertension Stage 2,Hypertension Stage 2,47.610803
88,23204,1,151,92.0,130,90,1,1,0,0,0,1,63,40.349107,Hypertension Stage 1,Hypertension Stage 1,40.349107
210,22570,1,162,105.0,140,90,3,1,0,0,0,1,61,40.009145,Hypertension Stage 2,Hypertension Stage 2,40.009145

In [26]:
import pandas as pd

# 🔹 Calcular cuartiles e IQR para detectar outliers
Q1 = df["bmi2"].quantile(0.25)
Q3 = df["bmi2"].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites inferior y superior
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filas que son outliers en bmi2
outliers = df[(df["bmi2"] < lower_bound) | (df["bmi2"] > upper_bound)]

# Mostrar los primeros 10 outliers
print("Primeros outliers de BMI2 detectados:")
display(outliers.head(10))

Primeros outliers de BMI2 detectados:

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category,bp_category_encoded,bmi2
30,18291,1,155,105.0,120,80,3,1,0,0,1,1,50,43.704475,Hypertension Stage 1,Hypertension Stage 1,43.704475
46,18207,1,162,107.0,150,90,2,1,0,0,1,1,49,40.771224,Hypertension Stage 2,Hypertension Stage 2,40.771224
83,19570,1,152,110.0,160,90,1,1,0,0,1,1,53,47.610803,Hypertension Stage 2,Hypertension Stage 2,47.610803
88,23204,1,151,92.0,130,90,1,1,0,0,0,1,63,40.349107,Hypertension Stage 1,Hypertension Stage 1,40.349107
210,22570,1,162,105.0,140,90,3,1,0,0,0,1,61,40.009145,Hypertension Stage 2,Hypertension Stage 2,40.009145
222,21800,2,76,55.0,120,80,1,1,0,0,1,0,59,95.221607,Hypertension Stage 1,Hypertension Stage 1,95.221607
256,21059,1,154,98.0,140,90,2,1,0,0,1,0,57,41.322314,Hypertension Stage 2,Hypertension Stage 2,41.322314
262,17460,1,165,115.0,150,100,1,1,0,0,1,1,47,42.240588,Hypertension Stage 2,Hypertension Stage 2,42.240588
281,22510,2,170,115.0,120,80,2,2,0,0,1,0,61,39.792388,Hypertension Stage 1,Hypertension Stage 1,39.792388
282,20311,1,159,101.0,135,90,2,1,0,0,0,1,55,39.950951,Hypertension Stage 1,Hypertension Stage 1,39.950951

In [27]:
# 🔹 Mostrar los 10 valores más altos de bmi2
top10_bmi2 = df.sort_values("bmi2", ascending=False).head(10)
print(top10_bmi2)

         age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
12450  19594       1      75   168.0    120     80            1     1      1
26679  15292       1      80   178.0    140     90            3     3      0
22134  23386       1      55    81.0    130     90            1     1      0
23298  19074       1      81   156.0    140     90            1     1      0
28398  19088       1      60    69.0    110     70            1     1      0
64916  18830       1      57    61.0    130     90            1     1      0
7962   17646       2      97   170.0    160    100            1     1      1
16281  19680       2      74    98.0    140     90            1     1      0
51972  20541       2      67    80.0    120     80            1     1      0
32736  19709       2      65    72.0    130     80            1     1      0

       alco  active  cardio  age_years         bmi           bp_category  \
12450     0       1       1         53  298.666667  Hypertension Stage 1
26679     0       1       1         41  278.125000  Hypertension Stage 2
22134     0       1       1         64  267.768595  Hypertension Stage 1
23298     0       1       0         52  237.768633  Hypertension Stage 2
28398     0       0       0         52  191.666667                Normal
64916     0       1       1         51  187.750077  Hypertension Stage 1
7962      0       1       1         48  180.678074  Hypertension Stage 2
16281     0       1       1         53  178.962747  Hypertension Stage 2
51972     0       0       1         56  178.213411  Hypertension Stage 1
32736     0       0       0         53  170.414201  Hypertension Stage 1

        bp_category_encoded        bmi2
12450  Hypertension Stage 1  298.666667
26679  Hypertension Stage 2  278.125000
22134  Hypertension Stage 1  267.768595
23298  Hypertension Stage 2  237.768633
28398                Normal  191.666667
64916  Hypertension Stage 1  187.750077
7962   Hypertension Stage 2  180.678074
16281  Hypertension Stage 2  178.962747
51972  Hypertension Stage 1  178.213411
32736  Hypertension Stage 1  170.414201

In [28]:
# Definir límites razonables
min_height = 120
max_height = 220

# Contar fuera de rango
fuera_rango = df[(df["height"] < min_height) | (df["height"] > max_height)]

print("==== Personas con altura fuera de rango (", min_height, "-", max_height, "cm) ====")
print("Cantidad:", fuera_rango.shape[0])
print("\nEjemplos:")
print(fuera_rango.head(10))

==== Personas con altura fuera de rango ( 120 - 220 cm) ====
Cantidad: 49

Ejemplos:
         age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  \
222    21800       2      76    55.0    120     80            1     1      0
3337   14516       1     100    70.0    100     70            1     1      0
6319   21220       1     250    86.0    140    100            3     1      0
6932   20579       2     117    78.0    150     90            1     1      1
7962   17646       2      97   170.0    160    100            1     1      1
8458   19698       2     119    89.0    160     90            1     1      0
10940  18307       1     110    90.0    120     80            1     1      0
12450  19594       1      75   168.0    120     80            1     1      1
12940  22456       2      71    68.0    120     80            3     1      0
13964  22005       1      67    57.0    120     90            1     1      0

       alco  active  cardio  age_years         bmi           bp_category  \
222       0       1       0         59   95.221607  Hypertension Stage 1
3337      0       1       0         39   70.000000                Normal
6319      0       1       1         58   13.760000  Hypertension Stage 2
6932      0       1       1         56   56.980057  Hypertension Stage 2
7962      0       1       1         48  180.678074  Hypertension Stage 2
8458      0       1       1         53   62.848669  Hypertension Stage 2
10940     0       1       0         50   74.380165  Hypertension Stage 1
12450     0       1       1         53  298.666667  Hypertension Stage 1
12940     0       1       0         61  134.893870  Hypertension Stage 1
13964     0       1       1         60  126.977055  Hypertension Stage 2

        bp_category_encoded        bmi2
222    Hypertension Stage 1   95.221607
3337                 Normal   70.000000
6319   Hypertension Stage 2   13.760000
6932   Hypertension Stage 2   56.980057
7962   Hypertension Stage 2  180.678074
8458   Hypertension Stage 2   62.848669
10940  Hypertension Stage 1   74.380165
12450  Hypertension Stage 1  298.666667
12940  Hypertension Stage 1  134.893870
13964  Hypertension Stage 2  126.977055

In [31]:
import pandas as pd

# Cargar datasets crudos desde la misma ruta que usa el catalog
cardio = pd.read_csv("data/01_raw/cardio_data_processed.csv", index_col=0)
lifestyle = pd.read_csv("data/01_raw/smoking_driking_dataset_Ver01.csv", index_col=0)
heart = pd.read_csv("data/01_raw/heart_2020_cleaned.csv", index_col=0)

# Revisamos que se cargaron bien
print("Cardio:", cardio.shape)
print("Lifestyle:", lifestyle.shape)
print("Heart:", heart.shape)

Cardio: (68205, 16)
Lifestyle: (991346, 23)
Heart: (319795, 17)